button {
    all: unset;
}

html, body, #root, h1, h2, h3, h4, h5, p {
    margin: 0;
}

// html, body, #root {
//     min-height: 100vh;
// }

#root > div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #root > div {
        min-height: 100vh;
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    #root > div {
        min-height: 100vh;
        flex-direction: column;
    }
}

.card{
    background-color: rgba(24, 22, 22, 0.742) !important;
    border: solid white 1px !important;
    margin: 20px !important;
    box-shadow: 1px 1px 10px 4px rgb(29, 29, 29) !important;
}

// .con{
//     display: flex;

// }